<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="path">/var/log/game</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] - requestId=%X{RequestId} %logger{15} - %msg%n
                </Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="App-Appender"
                     fileName="${path}/game-log.log"
                     filePattern="${path}/$${date:yyyy-MM}/app_log-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} - requestId=%X{RequestId} [%t] %c{1} - %msg%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="App-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="com.bigbank.game" level="debug" additivity="false">
            <AppenderRef ref="App-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
            <AppenderRef ref="App-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.apache.http" level="debug" additivity="false">
            <AppenderRef ref="App-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="httpclient.wire" level="debug" additivity="false">
            <AppenderRef ref="App-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="App-Appender"/>
        </Root>
    </Loggers>
</Configuration>
